body {
    background-color: #3B1C32;
    font-family: "Monoton", sans-serif;
}

body.centered {
   
    display: flex;
    flex-direction: column;
    justify-content: center;   /* pystysuuntainen keskitys */
    align-items: center;       /* vaakasuuntainen keskitys */
    height: 75vh;             /* 100 % näkymän korkeudesta */
    margin: 0;
    text-align: center;
}

    
h1{
    color: #FBA002;
    text-align: center;
    border-top: 400px;
    font-size: 2rem;
    max-width: 100%;
}

h2{
    font-size: 1.5rem;
    color: #FBA002;
}

h3 {
    color: #A64D79;
    font-size: 2.2rem;
}

body p {
    font-size: 1.2rem;
    color: #FBA002;
}
.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
     
.centered {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    margin-top: 20px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 2rem;
    border: 4px double #FBA002;
    border-radius: 50%;
    display:inline-block;
    align-items: center;
    color: #FBA002;
}

.download-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color:black;
    color:#FBA002;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2rem;
}

.container {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.responsive {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.seatmap {
    width: 50%;
    height: auto;
}



